@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb:#f4e189;
  --background-start-rgb: #f4e189;
  --background-end-rgb: #f4e189;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #f4e189;
    --background-start-rgb: #f4e1890;
    --background-end-rgb: #f4e189;
  }
} */

body {
  color: black;
  background: #f4e189;
  font-family: 'CustomFont', sans-serif;
}

.text-stroke-3 {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.hero-heading{
  -webkit-text-stroke: 5px black;
  text-shadow: -15px 15px #E32735;
}